<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.test.module.test.mapper.Test3Mapper">

    <resultMap type="com.zz.test.module.test.domain.entity.Test3Entity" id="Test3Result">
        <result property="test3Id" column="test3_id"/>
        <result property="testId" column="test_id"/>
        <result property="test3Name" column="test3_name"/>
    </resultMap>

</mapper>